@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&family=Roboto:wght@500&display=swap');
@import '_variables';



* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    background-color: $bg-color;
}

//our button
.button {
    width: 145px;
    height: 32px;
    border-radius: 3px;
    color: #fff;
    background-color: $btn-color;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
   
}